In [1]:
import pandas as pd

In [2]:
pd.read_excel("BTC-USD.xlsx").head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800.0
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200.0
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0

In [3]:
BTC=pd.read_excel("BTC-USD.xlsx")

In [4]:
BTC.shape

(2439, 7)

In [5]:
import pandas as pd
import numpy as np

In [6]:
# note that all ndarrays must be the same length!
inputs = {
    'open': np.random.random(100),
    'high': np.random.random(100),
    'low': np.random.random(100),
    'close': np.random.random(100),
    'volume': np.random.random(100)
}

from talib.abstract import *

output = SMA(inputs, timeperiod=25) # calculate on close prices by default
print(output)
print(len(list(output)))
print(pd.DataFrame(output).dropna())
print(pd.DataFrame(output).dropna().shape)

# output = SMA(inputs, timeperiod=25, price='open') # calculate on opens
# print(output)
# upper, middle, lower = BBANDS(inputs, 20, 2, 2)
# print(upper, middle, lower)
# slowk, slowd = STOCH(inputs, 5, 3, 0, 3, 0) # uses high, low, close by default
# print(slowk, slowd)
# slowk, slowd = STOCH(inputs, 5, 3, 0, 3, 0, prices=['high', 'low', 'open'])
# print(slowk, slowd)

[       nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.47782439 0.48524252 0.49157565 0.50734456 0.50996092 0.51863887
 0.52549016 0.50275898 0.50672383 0.52207985 0.52283037 0.52306833
 0.51766203 0.49354606 0.4854236  0.49688537 0.48375703 0.49908446
 0.52174387 0.52166512 0.51559498 0.52817195 0.54227414 0.54967465
 0.54999016 0.57175778 0.58391967 0.57837662 0.57854161 0.600015
 0.57701543 0.5752296  0.58364139 0.60135515 0.59688633 0.59713789
 0.59003306 0.60063576 0.62272078 0.63971134 0.63209257 0.63368275
 0.61056669 0.60555679 0.60203619 0.60079933 0.58492708 0.56496977
 0.57771048 0.60746738 0.58891701 0.58899228 0.58272277 0.57341043
 0.56441263 0.58588448 0.57370571 0.55865474 0.52917339 0.54600223
 0.54341259 0.53683468 0.52531464 0.50936621 0.49453411 0.48478937
 0.49306533 0.51056102 0.51004382 0.51136103 0.49736459 0.5229511
 0.52047663 0.51047317 0.48690835 0.48067369]
100
           0
24  0.477824
25  0.485243
26  0.491576
27  0.507345
28  0.509961
..       ...
95  0.522951
96  0.520477
97  0.510473
98  0.486908
99  0.480674

[76 rows x 1 columns]
(76, 1)

In [7]:
BTC_modify = pd.DataFrame(BTC).dropna()

In [8]:
import numpy
import talib

# close = numpy.random.random(30)
# print(type(close))
# print(talib.SMA(close, timeperiod=5))

# close = BTC_modify["Close"].to_numpy()
# print(type(close))
# print(talib.SMA(close, timeperiod=5))

In [9]:
# note that all ndarrays must be the same length!
inputs = {
    'open': BTC_modify["Open"].to_numpy(),
    'high': BTC_modify["High"].to_numpy(),
    'low': BTC_modify["Low"].to_numpy(),
    'close': BTC_modify["Close"].to_numpy(),
    'volume': BTC_modify["Volume"].to_numpy()
}

from talib.abstract import *

SMA(inputs, timeperiod=5) # calculate on close prices by default
# print(output)
# print(len(list(output)))
# print(pd.DataFrame(output).dropna())
# print(pd.DataFrame(output).dropna().shape)

array([         nan,          nan,          nan, ..., 43333.120312,
       42137.630468, 40791.797656])

In [10]:
BTC_modify.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800.0
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200.0
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0

In [11]:
BTC_modify["5ma"] = None

In [12]:
BTC_modify["5ma"] = SMA(inputs, timeperiod=5)

In [13]:
BTC_modify.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,5ma
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800.0,NaN
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200.0,NaN
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0,NaN
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0,NaN
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0,416.859003
5,2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,24127600.0,405.822601
6,2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,45099500.0,408.092798
7,2014-09-24,435.751007,436.112000,421.131989,423.204987,423.204987,30627700.0,413.774597
8,2014-09-25,423.156006,423.519989,409.467987,411.574005,411.574005,26814400.0,414.308600
9,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,21460800.0,415.429395

In [14]:
BTC_modify["10ma"] = None
BTC_modify["20ma"] = None
BTC_modify["10ma"] = SMA(inputs, timeperiod = 10)
BTC_modify["20ma"] = SMA(inputs, timeperiod = 20)

In [15]:
BTC_modify.head()

,Date,Open,High,Low,Close,Adj Close,Volume,5ma,10ma,20ma
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800.0,NaN,NaN,NaN
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200.0,NaN,NaN,NaN
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0,NaN,NaN,NaN
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0,NaN,NaN,NaN
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0,416.859003,NaN,NaN

In [16]:
pd.DataFrame(BTC_modify).dropna()

,Date,Open,High,Low,Close,Adj Close,Volume,5ma,10ma,20ma
19,2014-10-06,320.389008,345.134003,302.559998,330.079010,330.079010,7.901180e+07,342.807800,363.676599,389.910399
20,2014-10-07,330.584015,339.247009,320.481995,336.187012,336.187012,4.919990e+07,335.030804,357.343301,383.853049
21,2014-10-08,336.115997,354.364014,327.187988,352.940002,352.940002,5.473630e+07,333.716406,354.919201,380.278049
22,2014-10-09,352.747986,382.726013,347.687012,365.026001,365.026001,8.364110e+07,340.948407,353.875101,378.789549
23,2014-10-10,364.687012,375.066986,352.963013,361.562012,361.562012,4.366570e+07,349.158807,351.336902,376.422450
...,...,...,...,...,...,...,...,...,...,...
2434,2021-05-17,46415.898440,46623.558590,42207.289060,43537.511720,43537.511720,7.490364e+10,47270.096876,51510.148439,53870.067970
2435,2021-05-18,43488.058590,45812.457030,42367.832030,42909.402340,42909.402340,5.618737e+10,45908.739062,49920.710939,53274.302930
2436,2021-05-19,42944.976560,43546.117190,30681.496090,37002.441410,37002.441410,1.263580e+11,43333.120312,47797.723439,52446.669532
2437,2021-05-20,36753.667970,42462.984380,35050.617190,40782.738280,40782.738280,8.828194e+10,42137.630468,46290.017579,51598.297657
2438,2021-05-21,40949.996090,42172.171880,39726.894530,39726.894530,39726.894530,7.462050e+10,40791.797656,44592.249610,50693.239844

In [17]:
BTC_input = pd.DataFrame(BTC_modify).dropna()

In [18]:
BTC_input.head()

,Date,Open,High,Low,Close,Adj Close,Volume,5ma,10ma,20ma
19,2014-10-06,320.389008,345.134003,302.559998,330.079010,330.079010,79011800.0,342.807800,363.676599,389.910399
20,2014-10-07,330.584015,339.247009,320.481995,336.187012,336.187012,49199900.0,335.030804,357.343301,383.853049
21,2014-10-08,336.115997,354.364014,327.187988,352.940002,352.940002,54736300.0,333.716406,354.919201,380.278049
22,2014-10-09,352.747986,382.726013,347.687012,365.026001,365.026001,83641104.0,340.948407,353.875101,378.789549
23,2014-10-10,364.687012,375.066986,352.963013,361.562012,361.562012,43665700.0,349.158807,351.336902,376.422450

In [19]:
BTC_input.reset_index()

,index,Date,Open,High,Low,Close,Adj Close,Volume,5ma,10ma,20ma
0,19,2014-10-06,320.389008,345.134003,302.559998,330.079010,330.079010,7.901180e+07,342.807800,363.676599,389.910399
1,20,2014-10-07,330.584015,339.247009,320.481995,336.187012,336.187012,4.919990e+07,335.030804,357.343301,383.853049
2,21,2014-10-08,336.115997,354.364014,327.187988,352.940002,352.940002,5.473630e+07,333.716406,354.919201,380.278049
3,22,2014-10-09,352.747986,382.726013,347.687012,365.026001,365.026001,8.364110e+07,340.948407,353.875101,378.789549
4,23,2014-10-10,364.687012,375.066986,352.963013,361.562012,361.562012,4.366570e+07,349.158807,351.336902,376.422450
...,...,...,...,...,...,...,...,...,...,...,...
2411,2434,2021-05-17,46415.898440,46623.558590,42207.289060,43537.511720,43537.511720,7.490364e+10,47270.096876,51510.148439,53870.067970
2412,2435,2021-05-18,43488.058590,45812.457030,42367.832030,42909.402340,42909.402340,5.618737e+10,45908.739062,49920.710939,53274.302930
2413,2436,2021-05-19,42944.976560,43546.117190,30681.496090,37002.441410,37002.441410,1.263580e+11,43333.120312,47797.723439,52446.669532
2414,2437,2021-05-20,36753.667970,42462.984380,35050.617190,40782.738280,40782.738280,8.828194e+10,42137.630468,46290.017579,51598.297657
2415,2438,2021-05-21,40949.996090,42172.171880,39726.894530,39726.894530,39726.894530,7.462050e+10,40791.797656,44592.249610,50693.239844

In [20]:
BTC_input.reset_index(drop = True).head(3)

,Date,Open,High,Low,Close,Adj Close,Volume,5ma,10ma,20ma
0,2014-10-06,320.389008,345.134003,302.559998,330.079010,330.079010,79011800.0,342.807800,363.676599,389.910399
1,2014-10-07,330.584015,339.247009,320.481995,336.187012,336.187012,49199900.0,335.030804,357.343301,383.853049
2,2014-10-08,336.115997,354.364014,327.187988,352.940002,352.940002,54736300.0,333.716406,354.919201,380.278049

In [21]:
BTC_input.reset_index().drop(columns=['index']).head(3)

,Date,Open,High,Low,Close,Adj Close,Volume,5ma,10ma,20ma
0,2014-10-06,320.389008,345.134003,302.559998,330.079010,330.079010,79011800.0,342.807800,363.676599,389.910399
1,2014-10-07,330.584015,339.247009,320.481995,336.187012,336.187012,49199900.0,335.030804,357.343301,383.853049
2,2014-10-08,336.115997,354.364014,327.187988,352.940002,352.940002,54736300.0,333.716406,354.919201,380.278049

In [22]:
BTC_input = BTC_input.reset_index(drop = True)

In [23]:
BTC_input.head()

,Date,Open,High,Low,Close,Adj Close,Volume,5ma,10ma,20ma
0,2014-10-06,320.389008,345.134003,302.559998,330.079010,330.079010,79011800.0,342.807800,363.676599,389.910399
1,2014-10-07,330.584015,339.247009,320.481995,336.187012,336.187012,49199900.0,335.030804,357.343301,383.853049
2,2014-10-08,336.115997,354.364014,327.187988,352.940002,352.940002,54736300.0,333.716406,354.919201,380.278049
3,2014-10-09,352.747986,382.726013,347.687012,365.026001,365.026001,83641104.0,340.948407,353.875101,378.789549
4,2014-10-10,364.687012,375.066986,352.963013,361.562012,361.562012,43665700.0,349.158807,351.336902,376.422450

In [24]:
# 三種找value的方式
print(BTC_input["10ma"].iloc[0])
print(BTC_input.iloc[0, 8])
print(BTC_input.loc[0, "10ma"])

363.67659899999995
363.67659899999995
363.67659899999995

In [25]:
BTC_input["buy_day"]  = 0
BTC_input["cum_day"]  = 0
BTC_input["sell_day"] = 0
BTC_input["RSV"] = 0
BTC_input["K"] = 0
BTC_input["D"] = 0

In [26]:
for i in range(9, BTC_input.shape[0]):
    close=BTC_input["Close"].iloc[i]
    high=BTC_input["High"].iloc[i]
    low=BTC_input["Low"].iloc[i]
    for j in range(1,9):
        if(BTC_input["High"].iloc[i-j]>high):
            high=BTC_input["High"].iloc[i-j]
        if(BTC_input["Low"].iloc[i-j]<low):
            low=BTC_input["Low"].iloc[i-j]
    BTC_input["RSV"].iloc[i]=(close-low)/(high-low)*100

C:\Users\shan\anaconda3\envs\B\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [27]:
BTC_input["K"].iloc[9]=50
BTC_input["D"].iloc[9]=50

In [28]:
#K
for i in range(10, BTC_input.shape[0]):
    k=BTC_input["K"].iloc[i-1]*2/3+BTC_input["RSV"].iloc[i]*1/3
    BTC_input["K"].iloc[i]=k
#D
for i in range(10, BTC_input.shape[0]):
    d=BTC_input["D"].iloc[i-1]*2/3+BTC_input["K"].iloc[i]*1/3
    BTC_input["D"].iloc[i]=d

In [29]:
#黃金與死亡交叉 買賣訊號
for i in range(10, BTC_input.shape[0]):
    if(BTC_input["K"].iloc[i]>BTC_input["D"].iloc[i]) and (BTC_input["cum_day"].iloc[i-1]==0):
        BTC_input["buy_day"].iloc[i]=1
        BTC_input["cum_day"].iloc[i]=1
        BTC_input["sell_day"].iloc[i]=0
    elif(BTC_input["K"].iloc[i]<BTC_input["D"].iloc[i])and (BTC_input["cum_day"].iloc[i-1]==1):
        BTC_input["buy_day"].iloc[i]=0
        BTC_input["cum_day"].iloc[i]=0
        BTC_input["sell_day"].iloc[i]=1
    elif(BTC_input["cum_day"].iloc[i-1]>0):
        BTC_input["buy_day"].iloc[i]=0
        BTC_input["cum_day"].iloc[i]=1
        BTC_input["sell_day"].iloc[i]=0

In [30]:
BTC_input.head(20)

,Date,Open,High,Low,Close,Adj Close,Volume,5ma,10ma,20ma,buy_day,cum_day,sell_day,RSV,K,D
0,2014-10-06,320.389008,345.134003,302.559998,330.079010,330.079010,79011800.0,342.807800,363.676599,389.910399,0,0,0,0.000000,0.000000,0.000000
1,2014-10-07,330.584015,339.247009,320.481995,336.187012,336.187012,49199900.0,335.030804,357.343301,383.853049,0,0,0,0.000000,0.000000,0.000000
2,2014-10-08,336.115997,354.364014,327.187988,352.940002,352.940002,54736300.0,333.716406,354.919201,380.278049,0,0,0,0.000000,0.000000,0.000000
3,2014-10-09,352.747986,382.726013,347.687012,365.026001,365.026001,83641104.0,340.948407,353.875101,378.789549,0,0,0,0.000000,0.000000,0.000000
4,2014-10-10,364.687012,375.066986,352.963013,361.562012,361.562012,43665700.0,349.158807,351.336902,376.422450,0,0,0,0.000000,0.000000,0.000000
5,2014-10-11,361.362000,367.191010,355.950989,362.299011,362.299011,13345200.0,355.602808,349.205304,374.596350,0,0,0,0.000000,0.000000,0.000000
6,2014-10-12,362.605988,379.433014,356.144012,378.549011,378.549011,17552800.0,364.075207,349.553006,373.416200,0,0,0,0.000000,0.000000,0.000000
7,2014-10-13,377.920990,397.226013,368.897003,390.414001,390.414001,35221400.0,371.570007,352.643207,371.147351,0,0,0,0.000000,0.000000,0.000000
8,2014-10-14,391.691986,411.697998,391.324005,400.869995,400.869995,38491500.0,378.738806,359.843606,370.030601,0,0,0,0.000000,0.000000,0.000000
9,2014-10-15,400.954987,402.226990,388.765991,394.773010,394.773010,25267100.0,385.381006,367.269906,369.190552,0,0,0,81.445155,50.000000,50.000000
10,2014-10-16,394.518005,398.807007,373.070007,382.556000,382.556000,26990000.0,389.432403,372.517606,368.097102,1,1,0,65.516513,55.172171,51.724057
11,2014-10-17,382.756012,385.477997,375.389008,383.757996,383.757996,13600700.0,390.474200,377.274704,367.309003,0,1,0,56.351239,55.565194,53.004436
12,2014-10-18,383.976013,395.157990,378.971008,391.441986,391.441986,11416800.0,390.679797,381.124902,368.022052,0,1,0,65.512868,58.881085,54.963319
13,2014-10-19,391.253998,393.938995,386.457001,389.545990,389.545990,5914570.0,388.414996,383.576901,368.726001,0,1,0,60.263325,59.341832,56.422823
14,2014-10-20,389.230988,390.084015,378.252014,382.845001,382.845001,16419000.0,386.029395,385.705200,368.521051,0,0,1,48.063138,55.582267,56.142638
15,2014-10-21,382.420990,392.645996,380.834015,386.475006,386.475006,14188900.0,386.813196,388.122800,368.664052,0,0,0,41.069146,50.744560,54.343279
16,2014-10-22,386.118011,388.575989,382.248993,383.157990,383.157990,11641300.0,386.693195,388.583698,369.068352,0,0,0,26.115733,42.534951,50.407169
17,2014-10-23,382.962006,385.048004,356.446991,358.416992,358.416992,26456900.0,380.088196,385.383997,369.013602,0,0,0,4.303191,29.791031,43.535123
18,2014-10-24,358.591003,364.345001,353.304993,358.345001,358.345001,15585700.0,373.847998,381.131497,370.487552,0,0,0,11.076450,23.552838,36.874361
19,2014-10-25,358.610992,359.860992,342.877014,347.270996,347.270996,18127500.0,366.733197,376.381296,371.825601,0,0,0,8.404552,18.503409,30.750711

In [31]:
BTC_input.to_excel("progb.xlsx")

In [32]:
BTC_input["number"]        = 0
BTC_input["value"]         = 0
BTC_input["period_return"] = 0

In [33]:
BTC_input.tail(20)

,Date,Open,High,Low,Close,Adj Close,Volume,5ma,10ma,20ma,buy_day,cum_day,sell_day,RSV,K,D,number,value,period_return
2396,2021-05-02,57825.86328,57902.59375,56141.90625,56631.07813,56631.07813,3.817741e+10,56117.823440,53979.276174,56302.918946,0,1,0,83.902162,81.019583,68.939026,0,0,0
2397,2021-05-03,56620.27344,58973.30859,56590.87109,57200.29297,57200.29297,5.171314e+10,56592.941408,54589.940237,55987.760743,0,1,0,84.992026,82.343731,73.407261,0,0,0
2398,2021-05-04,57214.17969,57214.17969,53191.42578,53333.53906,53333.53906,6.856471e+10,56548.627344,54918.207424,55498.952930,0,0,1,44.273870,69.653777,72.156100,0,0,0
2399,2021-05-05,53252.16406,57911.36328,52969.05469,57424.00781,57424.00781,6.924132e+10,56483.393750,55760.182814,55204.452735,0,0,0,76.365609,71.891055,72.067751,0,0,0
2400,2021-05-06,57441.30859,58363.31641,55382.50781,56396.51563,56396.51563,6.952329e+10,56197.086720,55997.658986,54945.639063,0,0,0,60.691344,68.157818,70.764440,0,0,0
2401,2021-05-07,56413.95313,58606.63281,55321.84766,57356.40234,57356.40234,6.843402e+10,56342.151562,56229.987501,54779.268165,0,0,0,75.334296,70.549977,70.692952,0,0,0
2402,2021-05-08,57352.76563,59464.61328,56975.21094,58803.77734,58803.77734,6.538298e+10,56662.848436,56627.894922,54908.647852,1,1,0,89.826342,76.975432,72.787112,0,0,0
2403,2021-05-09,58877.39063,59210.88281,56482.00391,58232.31641,58232.31641,6.590669e+10,57642.603906,57095.615625,55034.050391,0,1,0,81.028624,78.326496,74.633574,0,0,0
2404,2021-05-10,58250.87109,59519.35547,54071.45703,55859.79688,55859.79688,7.177655e+10,57329.761720,56906.577735,55003.388673,0,0,1,44.131442,66.928145,72.065097,0,0,0
2405,2021-05-11,55847.24219,56872.54297,54608.65234,56704.57422,56704.57422,6.130840e+10,57391.373438,56794.230079,55143.312892,0,0,0,57.028214,63.628168,69.252787,0,0,0
2406,2021-05-12,56714.53125,57939.36328,49150.53516,49150.53516,49150.53516,7.521540e+10,55750.200002,56046.175782,55012.725978,0,0,0,0.000000,42.418778,60.308118,0,0,0
2407,2021-05-13,49735.43359,51330.84375,46980.01953,49716.19141,49716.19141,9.672115e+10,53932.682816,55297.765626,54943.852931,0,0,0,21.820708,35.552755,52.056330,0,0,0
2408,2021-05-14,49682.98047,51438.11719,48868.57813,49880.53516,49880.53516,5.573750e+10,52262.326566,54952.465236,54935.336330,0,0,0,23.131334,31.412281,45.174980,0,0,0
2409,2021-05-15,49855.49609,50639.66406,46664.14063,46760.18750,46760.18750,5.916105e+10,50442.404690,53886.083205,54823.133010,0,0,0,0.747143,21.190569,37.180176,0,0,0
2410,2021-05-16,46716.63672,49720.04297,43963.35156,46456.05859,46456.05859,6.404787e+10,48392.701564,52892.037501,54444.848244,0,0,0,16.024083,19.468407,31.276253,0,0,0
2411,2021-05-17,46415.89844,46623.55859,42207.28906,43537.51172,43537.51172,7.490364e+10,47270.096876,51510.148439,53870.067970,0,0,0,7.683789,15.540201,26.030902,0,0,0
2412,2021-05-18,43488.05859,45812.45703,42367.83203,42909.40234,42909.40234,5.618737e+10,45908.739062,49920.710939,53274.302930,0,0,0,4.055630,11.712010,21.257938,0,0,0
2413,2021-05-19,42944.97656,43546.11719,30681.49609,37002.44141,37002.44141,1.263580e+11,43333.120312,47797.723439,52446.669532,0,0,0,23.189435,15.537819,19.351232,0,0,0
2414,2021-05-20,36753.66797,42462.98438,35050.61719,40782.73828,40782.73828,8.828194e+10,42137.630468,46290.017579,51598.297657,1,1,0,37.058080,22.711239,20.471234,0,0,0
2415,2021-05-21,40949.99609,42172.17188,39726.89453,39726.89453,39726.89453,7.462050e+10,40791.797656,44592.249610,50693.239844,0,1,0,43.578376,29.666951,23.536473,0,0,0

In [34]:
BTC_input.shape

(2416, 19)

In [35]:
initial = 10000
for i in range(0, BTC_input.shape[0]):
#     買的訊號
    if(BTC_input["K"].iloc[i]>BTC_input["D"].iloc[i]) and (BTC_input["cum_day"].iloc[i-1]==0):
#         持有數量 = 手中的資本/ 該標的收盤價
        BTC_input.iloc[i, -3] = initial/ BTC_input["Adj Close"].iloc[i]
#     市值 = 持有數量* 該標的收盤價
        BTC_input.iloc[i, -2] = BTC_input["number"].iloc[i]*BTC_input["Adj Close"].iloc[i]
#     期間報酬 = (市值-投入成本)/投入成本
        BTC_input.iloc[i, -1] = round((BTC_input["value"].iloc[i]-initial)/initial,4)
#         賣的訊號
    elif(BTC_input["K"].iloc[i]<BTC_input["D"].iloc[i])and (BTC_input["cum_day"].iloc[i-1]==1):
#         持有數量為 0 
        BTC_input.iloc[i, -3] = 0
#     市值 = 持有數量* 該標的收盤價
        BTC_input.iloc[i, -2] = BTC_input["number"].iloc[i-1]*BTC_input["Adj Close"].iloc[i]
#     期間報酬 = (市值-投入成本)/投入成本
        BTC_input.iloc[i, -1] = round((BTC_input["value"].iloc[i]-initial)/initial,4)
#         持有的訊號
    elif(BTC_input["cum_day"].iloc[i-1]>0):
#         持有數量與上一期相同
        BTC_input.iloc[i, -3] = BTC_input.iloc[i-1, -3]
#     市值 = 持有數量* 該標的收盤價
        BTC_input.iloc[i, -2] = BTC_input["number"].iloc[i]*BTC_input["Adj Close"].iloc[i]
#     期間報酬 = (市值-投入成本)/投入成本
        BTC_input.iloc[i, -1] = round((BTC_input["value"].iloc[i]-initial)/initial,4)

In [36]:
BTC_input.to_excel("progc.xlsx")

In [37]:
import datetime
from datetime import date

In [38]:
BTC_input.tail(10)

,Date,Open,High,Low,Close,Adj Close,Volume,5ma,10ma,20ma,buy_day,cum_day,sell_day,RSV,K,D,number,value,period_return
2406,2021-05-12,56714.53125,57939.36328,49150.53516,49150.53516,49150.53516,7.521540e+10,55750.200002,56046.175782,55012.725978,0,0,0,0.000000,42.418778,60.308118,0.000000,0.000000,0.0000
2407,2021-05-13,49735.43359,51330.84375,46980.01953,49716.19141,49716.19141,9.672115e+10,53932.682816,55297.765626,54943.852931,0,0,0,21.820708,35.552755,52.056330,0.000000,0.000000,0.0000
2408,2021-05-14,49682.98047,51438.11719,48868.57813,49880.53516,49880.53516,5.573750e+10,52262.326566,54952.465236,54935.336330,0,0,0,23.131334,31.412281,45.174980,0.000000,0.000000,0.0000
2409,2021-05-15,49855.49609,50639.66406,46664.14063,46760.18750,46760.18750,5.916105e+10,50442.404690,53886.083205,54823.133010,0,0,0,0.747143,21.190569,37.180176,0.000000,0.000000,0.0000
2410,2021-05-16,46716.63672,49720.04297,43963.35156,46456.05859,46456.05859,6.404787e+10,48392.701564,52892.037501,54444.848244,0,0,0,16.024083,19.468407,31.276253,0.000000,0.000000,0.0000
2411,2021-05-17,46415.89844,46623.55859,42207.28906,43537.51172,43537.51172,7.490364e+10,47270.096876,51510.148439,53870.067970,0,0,0,7.683789,15.540201,26.030902,0.000000,0.000000,0.0000
2412,2021-05-18,43488.05859,45812.45703,42367.83203,42909.40234,42909.40234,5.618737e+10,45908.739062,49920.710939,53274.302930,0,0,0,4.055630,11.712010,21.257938,0.000000,0.000000,0.0000
2413,2021-05-19,42944.97656,43546.11719,30681.49609,37002.44141,37002.44141,1.263580e+11,43333.120312,47797.723439,52446.669532,0,0,0,23.189435,15.537819,19.351232,0.000000,0.000000,0.0000
2414,2021-05-20,36753.66797,42462.98438,35050.61719,40782.73828,40782.73828,8.828194e+10,42137.630468,46290.017579,51598.297657,1,1,0,37.058080,22.711239,20.471234,0.245202,10000.000000,0.0000
2415,2021-05-21,40949.99609,42172.17188,39726.89453,39726.89453,39726.89453,7.462050e+10,40791.797656,44592.249610,50693.239844,0,1,0,43.578376,29.666951,23.536473,0.245202,9741.105234,-0.0259

In [39]:
print( type(BTC_input["Date"].iloc[5]))
BTC_input["Date"].iloc[5]

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

Timestamp('2014-10-11 00:00:00')

In [40]:
BTC_input["Date"].iloc[7]

Timestamp('2014-10-13 00:00:00')

In [41]:
BTC_input["Date"].iloc[7] > BTC_input["Date"].iloc[5]

True

In [42]:
BTC_input["Date"].iloc[7]-BTC_input["Date"].iloc[5]

Timedelta('2 days 00:00:00')

In [43]:
BTC_input["holding_period"]        = 0
BTC_input["annual_return"]         = 0

In [44]:
first=0
end=0
for i in range(1, BTC_input.shape[0]):
    if(BTC_input.iloc[i, 10]==1):
        BTC_input.iloc[i, 18]=1
        first=BTC_input.iloc[i, 0]
    elif((BTC_input.iloc[i, 11]==1)or(BTC_input.iloc[i, 12]==1)and(BTC_input.iloc[i, 10]!=1)):
        end=BTC_input.iloc[i, 0]
        BTC_input.iloc[i, -2]=(end-first).days+1

In [45]:
BTC_input.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,5ma,10ma,20ma,...,cum_day,sell_day,RSV,K,D,number,value,period_return,holding_period,annual_return
0,2014-10-06,320.389008,345.134003,302.559998,330.079010,330.079010,79011800.0,342.807800,363.676599,389.910399,...,0,0,0.000000,0.0,0.0,0.0,0.0,-1.0,0,0
1,2014-10-07,330.584015,339.247009,320.481995,336.187012,336.187012,49199900.0,335.030804,357.343301,383.853049,...,0,0,0.000000,0.0,0.0,0.0,0.0,0.0,0,0
2,2014-10-08,336.115997,354.364014,327.187988,352.940002,352.940002,54736300.0,333.716406,354.919201,380.278049,...,0,0,0.000000,0.0,0.0,0.0,0.0,0.0,0,0
3,2014-10-09,352.747986,382.726013,347.687012,365.026001,365.026001,83641104.0,340.948407,353.875101,378.789549,...,0,0,0.000000,0.0,0.0,0.0,0.0,0.0,0,0
4,2014-10-10,364.687012,375.066986,352.963013,361.562012,361.562012,43665700.0,349.158807,351.336902,376.422450,...,0,0,0.000000,0.0,0.0,0.0,0.0,0.0,0,0
5,2014-10-11,361.362000,367.191010,355.950989,362.299011,362.299011,13345200.0,355.602808,349.205304,374.596350,...,0,0,0.000000,0.0,0.0,0.0,0.0,0.0,0,0
6,2014-10-12,362.605988,379.433014,356.144012,378.549011,378.549011,17552800.0,364.075207,349.553006,373.416200,...,0,0,0.000000,0.0,0.0,0.0,0.0,0.0,0,0
7,2014-10-13,377.920990,397.226013,368.897003,390.414001,390.414001,35221400.0,371.570007,352.643207,371.147351,...,0,0,0.000000,0.0,0.0,0.0,0.0,0.0,0,0
8,2014-10-14,391.691986,411.697998,391.324005,400.869995,400.869995,38491500.0,378.738806,359.843606,370.030601,...,0,0,0.000000,0.0,0.0,0.0,0.0,0.0,0,0
9,2014-10-15,400.954987,402.226990,388.765991,394.773010,394.773010,25267100.0,385.381006,367.269906,369.190552,...,0,0,81.445155,50.0,50.0,0.0,0.0,0.0,0,0

In [46]:
for i in range(1, BTC_input.shape[0]):
    if(BTC_input.iloc[i, -2]!=0):
        BTC_input.iloc[i, -1]=(1+BTC_input.iloc[i, -3])**(365/BTC_input.iloc[i,-2])-1
annual_return=1
annual_period_return=1
trading=0

for i in range(1, BTC_input.shape[0]):
    if(BTC_input.iloc[i, -9]==1):
        annual_return*=(1+BTC_input.iloc[i, -1])
        annual_period_return*=(1+BTC_input.iloc[i, -3])
        trading+=1

final_return=annual_return**(1/trading)-1
final_period_return=annual_period_return**(1/trading)-1

In [47]:
BTC_input.tail(20)

,Date,Open,High,Low,Close,Adj Close,Volume,5ma,10ma,20ma,...,cum_day,sell_day,RSV,K,D,number,value,period_return,holding_period,annual_return
2396,2021-05-02,57825.86328,57902.59375,56141.90625,56631.07813,56631.07813,3.817741e+10,56117.823440,53979.276174,56302.918946,...,1,0,83.902162,81.019583,68.939026,0.185111,10483.013607,0.0483,7,10.699761
2397,2021-05-03,56620.27344,58973.30859,56590.87109,57200.29297,57200.29297,5.171314e+10,56592.941408,54589.940237,55987.760743,...,1,0,84.992026,82.343731,73.407261,0.185111,10588.381315,0.0588,8,12.556128
2398,2021-05-04,57214.17969,57214.17969,53191.42578,53333.53906,53333.53906,6.856471e+10,56548.627344,54918.207424,55498.952930,...,0,1,44.273870,69.653777,72.156100,0.000000,9872.604127,-0.0127,9,-0.404500
2399,2021-05-05,53252.16406,57911.36328,52969.05469,57424.00781,57424.00781,6.924132e+10,56483.393750,55760.182814,55204.452735,...,0,0,76.365609,71.891055,72.067751,0.000000,0.000000,0.0000,0,0.000000
2400,2021-05-06,57441.30859,58363.31641,55382.50781,56396.51563,56396.51563,6.952329e+10,56197.086720,55997.658986,54945.639063,...,0,0,60.691344,68.157818,70.764440,0.000000,0.000000,0.0000,0,0.000000
2401,2021-05-07,56413.95313,58606.63281,55321.84766,57356.40234,57356.40234,6.843402e+10,56342.151562,56229.987501,54779.268165,...,0,0,75.334296,70.549977,70.692952,0.000000,0.000000,0.0000,0,0.000000
2402,2021-05-08,57352.76563,59464.61328,56975.21094,58803.77734,58803.77734,6.538298e+10,56662.848436,56627.894922,54908.647852,...,1,0,89.826342,76.975432,72.787112,0.170057,10000.000000,1.0000,0,0.000000
2403,2021-05-09,58877.39063,59210.88281,56482.00391,58232.31641,58232.31641,6.590669e+10,57642.603906,57095.615625,55034.050391,...,1,0,81.028624,78.326496,74.633574,0.170057,9902.819010,-0.0097,2,-0.831175
2404,2021-05-10,58250.87109,59519.35547,54071.45703,55859.79688,55859.79688,7.177655e+10,57329.761720,56906.577735,55003.388673,...,0,1,44.131442,66.928145,72.065097,0.000000,9499.355213,-0.0501,3,-0.998076
2405,2021-05-11,55847.24219,56872.54297,54608.65234,56704.57422,56704.57422,6.130840e+10,57391.373438,56794.230079,55143.312892,...,0,0,57.028214,63.628168,69.252787,0.000000,0.000000,0.0000,0,0.000000
2406,2021-05-12,56714.53125,57939.36328,49150.53516,49150.53516,49150.53516,7.521540e+10,55750.200002,56046.175782,55012.725978,...,0,0,0.000000,42.418778,60.308118,0.000000,0.000000,0.0000,0,0.000000
2407,2021-05-13,49735.43359,51330.84375,46980.01953,49716.19141,49716.19141,9.672115e+10,53932.682816,55297.765626,54943.852931,...,0,0,21.820708,35.552755,52.056330,0.000000,0.000000,0.0000,0,0.000000
2408,2021-05-14,49682.98047,51438.11719,48868.57813,49880.53516,49880.53516,5.573750e+10,52262.326566,54952.465236,54935.336330,...,0,0,23.131334,31.412281,45.174980,0.000000,0.000000,0.0000,0,0.000000
2409,2021-05-15,49855.49609,50639.66406,46664.14063,46760.18750,46760.18750,5.916105e+10,50442.404690,53886.083205,54823.133010,...,0,0,0.747143,21.190569,37.180176,0.000000,0.000000,0.0000,0,0.000000
2410,2021-05-16,46716.63672,49720.04297,43963.35156,46456.05859,46456.05859,6.404787e+10,48392.701564,52892.037501,54444.848244,...,0,0,16.024083,19.468407,31.276253,0.000000,0.000000,0.0000,0,0.000000
2411,2021-05-17,46415.89844,46623.55859,42207.28906,43537.51172,43537.51172,7.490364e+10,47270.096876,51510.148439,53870.067970,...,0,0,7.683789,15.540201,26.030902,0.000000,0.000000,0.0000,0,0.000000
2412,2021-05-18,43488.05859,45812.45703,42367.83203,42909.40234,42909.40234,5.618737e+10,45908.739062,49920.710939,53274.302930,...,0,0,4.055630,11.712010,21.257938,0.000000,0.000000,0.0000,0,0.000000
2413,2021-05-19,42944.97656,43546.11719,30681.49609,37002.44141,37002.44141,1.263580e+11,43333.120312,47797.723439,52446.669532,...,0,0,23.189435,15.537819,19.351232,0.000000,0.000000,0.0000,0,0.000000
2414,2021-05-20,36753.66797,42462.98438,35050.61719,40782.73828,40782.73828,8.828194e+10,42137.630468,46290.017579,51598.297657,...,1,0,37.058080,22.711239,20.471234,0.245202,10000.000000,1.0000,0,0.000000
2415,2021-05-21,40949.99609,42172.17188,39726.89453,39726.89453,39726.89453,7.462050e+10,40791.797656,44592.249610,50693.239844,...,1,0,43.578376,29.666951,23.536473,0.245202,9741.105234,-0.0259,2,-0.991680

In [48]:
print(final_period_return)
print(final_return)
print(trading)

0.02743216348098998
0.07196442473843478
193